.container {
    border-radius: 8px;
    padding: 24px 32px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    width: 35vw;
}

.icon {
    border-radius: 50%;
    padding: 16px;
    height: 48px;
    width: 48px;
    display: flex;
    align-content: center;
    justify-content: center;
    background: #f3e7ff;
    color: #9810fa;
}