.container {
    border: 1px solid rgb(238,221,255);
    padding: 12px 16px;
    border-radius: 6px;
    background: rgb(250,245,255);
}

.circle {
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.error {
    background: rgb(255, 127, 127);
}

.success {
    background: rgb(0,201,81);
}